DJANGO_DEBUG=true
DJANGO_SECRET_KEY=CHANGEME!!!
DJANGO_ALLOWED_HOSTS=*,127.0.0.1

# Database postgresql
DATABASE_URL=postgres://user:password@localhost:port/database

DJANGO_SECURE_SSL_REDIRECT=false

PROJECT_NAME_HEADER=name-project
PROJECT_NAME_TITLE=name-project

# Herramientas de desarrollo.
ACTIVAR_HERRAMIENTAS_DEBUGGING=true